.homeScreen__top {
  background-color: #d4e9e2;
  text-align: center;
  padding: 32px;
  margin-bottom: 20px;
}

.homeScreen__top h4 {
  color: #1e3932;
  font-size: large;
  font-weight: 600;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .homeScreen__top h4 {
    max-width: 430px;
  }
}

@media (max-width: 425px) {
  .homeScreen__top h4 {
    font-size: medium;
  }
}
